<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plango 비밀번호 재설정 안내</title>
</head>
<body>
    <div style="padding: 16px; width: 600px">
        <p style="padding: 32px 0; font-size: 24px; font-weight: bold;">Plango 비밀번호 재설정 안내입니다.</p>
        <p><span th:text="${nickname}" style="font-weight: bold; margin-bottom: 32px;">회원</span>님, 초기화된 비밀번호를 안내드립니다.</p>
        <p>아래의 비밀번호로 로그인해주시기 바랍니다.</p>

        <div style="padding: 16px; background-color: #f8f9fa; margin: 32px 0;">
            <p th:text="${newPassword}" style="font-weight: bold">변경된 비밀번호</p>
        </div>

        <p style="border-top: 1px solid lightgrey;  margin: 32px 0;"></p>

        <p style="color: grey;  margin: 32px 0;">&copy; plango</p>

    </div>
</body>
</html>
